

<nav class="navbar navbar-light bg-light justify-content-between">
      <img [src]="cartimage"  style="width: 30px; margin-left: 1100px; height: 30px;">
      <app-count></app-count>
      <button class="btn btn-outline-danger " style="float: right;" >Log Out</button>
      
  </nav>




<div class=" container">
    <div class="row">
        <div class="col-md-9">
            <app-product-list></app-product-list>
        </div>
  
    
        <div class="col">
            <app-filter></app-filter>
               
        </div>
   
</div>
</div>
