<div id="filter" class="card" style="width: auto;">
    <section class="mb-4" >
        <h6 >Category</h6>
      
        <div class="form-check pl-0 mb-3">
          <input
        
            type="radio"
            class="filter-option form-check-input"
            id="shirts"
            name="category"
          />
          <label
            class="form-check-label small text-uppercase card-link-secondary"
            for="shirts"
            >shirts </label>
          
        </div>
        <div class="form-check pl-0 mb-3">
          <input
            
            type="radio"
            class="filter-option form-check-input"
            id="pants"
            name="category"
          />
          <label
            class="form-check-label small text-uppercase card-link-secondary"
            for="500"
            >Pants</label
          >
        </div>
        <div class="form-check pl-0 mb-3">
          <input
          
            type="radio"
            class="filter-option form-check-input"
            id="phone"
            name="category"
          />
          <label
            class="form-check-label small text-uppercase card-link-secondary"
            for="phone"
            >Phone</label
          >
        </div>
        <div class="form-check pl-0 mb-3">
          <input
          
            type="radio"
            class="filter-option form-check-input"
            id="laptop"
            name="category"
          />
          <label
            class="form-check-label small text-uppercase card-link-secondary"
            for="laptop"
            >laptops</label
          >
        </div>
        <div class="form-check pl-0 mb-3">
          <input
    
            type="radio"
            class="filter-option form-check-input"
            id="tv"
            name="category"
          />
          <label
            class="form-check-label small text-uppercase card-link-secondary"
            for="tv"
            >Tv</label
          >
        </div>
        <div class="form-check pl-0 mb-3">
            <input
      
              type="radio"
              class="filter-option form-check-input"
              id="powerbank"
              name="category"
            />
            <label
              class="form-check-label small text-uppercase card-link-secondary"
              for="powerbank"
              >power bank</label
            >
          </div>
      </section>
<section class="mb-4" >
    <h6 >Price</h6>
  
    <div class="form-check pl-0 mb-3">
      <input
    
        type="radio"
        class="filter-option form-check-input"
        id="under250"
        name="materialprice"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="under250"
        >Under {{250|currency:'INR'}} </label>
      
    </div>
    <div class="form-check pl-0 mb-3">
      <input
        
        type="radio"
        class="filter-option form-check-input"
        id="500"
        name="materialprice"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="500"
        >{{250|currency:'INR'}} - {{500|currency:'INR'}}</label
      >
    </div>
    <div class="form-check pl-0 mb-3">
      <input
      
        type="radio"
        class="filter-option form-check-input"
        id="5000"
        name="materialprice"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="5000"
        >{{5000|currency:'INR'}} - {{25000|currency:'INR'}}</label
      >
    </div>
    <div class="form-check pl-0 mb-3">
      <input
      
        type="radio"
        class="filter-option form-check-input"
        id="25000"
        name="materialprice"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="25000"
        >{{25000|currency:'INR'}} - {{50000|currency:'INR'}}</label
      >
    </div>
    <div class="form-check pl-0 mb-3">
      <input

        type="radio"
        class="filter-option form-check-input"
        id="50000above"
        name="materialprice"
      />
      <label
        class="form-check-label small text-uppercase card-link-secondary"
        for="50000above"
        >{{50000|currency:'INR'}} Above</label
      >
    </div>
  </section>
 
  </div>