
<nav class="navbar navbar-light justify-content-between" style="background-color: #e3f2fd;">
    <button class="btn btn-outline-danger " style="float: right;" routerLink="/product">Home</button>
      <button class="btn btn-outline-danger " style="float: right;" (click)="logout()">Log Out</button>
      
  </nav>

<div class="item-container" style="width: 1100px;;margin-left: 90px;margin-top: 60px;">
  <header style="text-align: center;"><h3>Your Orders</h3> </header> 
  <table class="table table-striped">
        <thead>
          <tr>
            
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Address</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
    
            <tr *ngFor="let order of orderDetails">
                
            
                <td>{{order.item}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.address}}</td>
                <td>{{order.price}}</td>
            
          
          </tr>
         </tbody>
         </table> 

    
  

</div>
<br>
<br>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
<div class="container padding-bottom-3x mb-1">
        <div class="card mb-3">
          <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase"> Order Tracking  </span></div>
          <div class="d-flex flex-wrap flex-sm-nowrap justify-content-between py-3 px-2 bg-secondary">
            
            <div class="w-100 text-center py-1 px-2"><span class="text-medium">Status: <b class="text">{{message}}</b> </span> </div>
           
          </div>
          <div class="card-body">
            <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x">
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-cart"></i></div>
                </div>
                <h4 class="step-title">Confirmed Order</h4>
              </div>
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-config"></i></div>
                </div>
                <h4 class="step-title">Processing Order</h4>
              </div>
              <div class="step completed">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-medal"></i></div>
                </div>
                <h4 class="step-title">Quality Check</h4>
              </div>
              <div class="step">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-car"></i></div>
                </div>
                <h4 class="step-title">Product Dispatched</h4>
              </div>
              <div class="step">
                <div class="step-icon-wrap">
                  <div class="step-icon"><i class="pe-7s-home"></i></div>
                </div>
                <h4 class="step-title">Product Delivered</h4>
              </div>
            </div>
          </div>
        </div>
       
<button class="btn btn-primary" style="margin-left: 500px;margin-top: 50px;" (click)="orderTracking()">Track Order</button>
<br>

