.container{
    width: 560px;
    height: 500px;
    border: 2px solid bisque;
    background-color: blanchedalmond;
    margin-left: 440px;
    border-radius: 25px;
    margin-top: 5px;
    box-shadow:  12px 12px 2px 1px rgba(0, 0, 255, .2);

}

#inner{
    padding-top: 20px;
    padding-left: 20px;
}
header{
    text-align: center;
    padding-top: 30PX;
    font-size: 30px;
}
